body {
	font-family: 'EB Garamond', serif;
	color: #333333;
}

h1.title {
	font-weight: 600;
	font-size: 4em;
	letter-spacing: 0.05em;
}

h2.subtitle {
	font-weight: 400;
	font-size: 1.4em;
	letter-spacing: 0.05em;
	padding-top: 10px;
}

h3.sectionTitle {
	font-size: 2em;
	font-weight: 700;
}

a {
	color: #BBAE98;
	font-weight: 600;
}

a:hover {
	color: #BBAE98;
	text-decoration: underline;
}

a.bottomLink {
	background-color: #BBAE98;
	color: white;
	border-radius: 20px;
	padding: 5px 12px;
	text-decoration: none;
}

a.bottomLink:hover {
	background-color: white;
	border:1px #BBAE98 solid;
	color: #BBAE98;	
}

.roundedImage {
	overflow:hidden;
    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    border-radius:150px;
    width:150px;
    height:150px;
}